td {
  padding: 2px;
}

/* for app.js */
.Header {
  display: flex;
  background-color: #3b4042;
  color: white;
  padding: 10px;
  justify-content: center;
}

.MainBody {
  display: flex;
}

/* stockpickerbox.js */
.StockPickerBox {
  background-color: #3b4042; 
  color: white;
  padding: 20px;
  width: 400px;
}

.StockPickerBoxTitle {
  padding: 10px;
}

.TickerForm {
  padding: 10px;
  padding-left: 0px;
}

.StartDatePicker {
  padding: 10px;
  padding-left: 0px;
}

.ToDatePicker {
  padding: 10px;
  padding-left: 0px;
  padding-top: 5px;
}

.FetchButton {
  padding: 10px;
  padding-left: 0px;
}

.InfoTableHeading {
  padding: 5px;
}

.TableFigures {
  text-align: center;
}

/* graphics box */
.GraphicsBox {
  background-color: #5f6368;
  color: white;
  padding: 20px;
  width: 100%;
}

.EmptyGraphicsBox {
  background-color: #5f6368; 
  height: 100vh;
  width: 100%;
}

.CompanyLogo {
  text-align: center;
}

.CompanyName {
  text-align: center;
  padding-top: 3px;
  padding-bottom: 0px;
  font-weight: bold;
}

.ShortInfo {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 5px;
}

.CompanySummary {
  text-align: justify;
}

.GraphmodeButton {
  text-align: left;
  padding: 3px;
}

.Plots {
  padding: 5px;
}
